/* ICON FONT SIZES */
.size-12 {
  font-size: 12px; }

.size-14 {
  font-size: 14px; }

.size-16 {
  font-size: 16px; }

.size-18 {
  font-size: 18px; }

.size-21 {
  font-size: 21px; }

.size-24 {
  font-size: 24px; }

.size-28 {
  font-size: 28px; }

.size-36 {
  font-size: 36px; }

.size-48 {
  font-size: 48px; }

.size-60 {
  font-size: 60px; }

.size-72 {
  font-size: 72px; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body, .off-canvas-wrap, .inner-wrap, #main-content {
  height: 100%; }

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  font-family: 'Droid Sans', sans-serif; }

.center {
  text-align: center; }

button {
  background-color: #4CAF50;
  width: 100%;
  padding: 5px 10px;
  line-height: 35px;
  margin: 0; }

button:hover {
  background-color: #66BB6A;
  color: purple; }

a {
  color: #4CAF50; }

a:hover {
  color: purple; }

button.facebook_login {
  background: #3B5998;
  width: 100%; }

button.facebook_login:hover {
  background: #2f4779; }

nav.tab-bar {
  background: #4CAF50; }
  nav.tab-bar a {
    color: #FFF; }
  nav.tab-bar a:hover {
    color: purple; }

.splashscreen {
  background: #4CAF50;
  width: 100%;
  height: 100%;
  float: left; }
  .splashscreen .splash_logo {
    width: 100%;
    height: 250px;
    background: url("img/logo.png") center center no-repeat;
    display: block;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    margin: 50% 0 0 0; }
  .splashscreen .splash_title {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #FFF;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    color: #81C784;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: bold; }

.off-canvas-wrap .left-off-canvas-menu {
  background: #333 !important; }
  .off-canvas-wrap .left-off-canvas-menu .off-canvas-list li a.active {
    background: #242424; }

.profile_area {
  padding: 40px 0; }
  .profile_area .profile_picture {
    border: 1px solid #FFF; }
  .profile_area .user_info {
    color: #FFF; }
    .profile_area .user_info p {
      margin: 0; }
    .profile_area .user_info .location {
      font-size: 0.9em; }

.tab-bar h1 {
  text-align: left; }

.content_container {
  background: #FFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
  display: block;
  float: left;
  width: 100%;
  position: relative;
  z-index: 5; }

.home_btns {
  border-right: 2px solid #d0d0d0;
  border-left: 2px solid #FFF;
  text-align: center;
  padding: 5px 0;
  text-transform: uppercase; }
  .home_btns p {
    margin: 0; }
  .home_btns .value {
    color: #81C784; }

.home_btns:hover .value {
  color: #66BB6A; }

.record_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 5;
  text-align: center;
  background: #4CAF50; }
  .record_footer .camera_button {
    width: 100%;
    color: #FFF; }
  .record_footer .camera_button:hover {
    background: #66BB6A;
    cursor: pointer;
    color: purple; }
  .record_footer button#watchButton {
    width: 75px;
    height: 75px;
    background: #FFF;
    top: -25px;
    border: 5px solid #81C784;
    border-radius: 50%; }
    .record_footer button#watchButton .fi-record {
      color: red;
      text-align: center;
      margin: 0 auto;
      display: block;
      left: 0;
      right: 0;
      position: absolute;
      top: 7px; }
    .record_footer button#watchButton .fi-pause {
      color: black;
      text-align: center;
      margin: 0 auto;
      display: block;
      left: 0;
      right: 0;
      position: absolute;
      top: 7px; }
  .record_footer .map_marker {
    width: 100%;
    color: #FFF; }
  .record_footer .map_marker:hover {
    cursor: pointer;
    background: #66BB6A;
    color: purple; }

.my_routes {
  height: auto; }
  .my_routes a[href^="https://maps.google.com/maps"] {
    display: none !important; }
  .my_routes .gm-style-cc a, .my_routes .gm-style-cc span {
    display: none; }
  .my_routes .gm-style-cc div {
    background: none !important; }
  .my_routes #main-content {
    background: #eaeaea;
    padding: 0.9375rem 0 0 0; }
  .my_routes #mapPlaceholder, .my_routes #mapPlaceholder_2, .my_routes #mapPlaceholder_3, .my_routes #mapPlaceholder_4, .my_routes .route_info, .my_routes span.row, .my_routes span.columns {
    display: block; }

.my_route_item {
  margin: 0 0 0.9375rem 0;
  display: block; }
  .my_route_item .route_info {
    background: #FFF;
    border-top: 1px solid #CCC;
    padding: 5px 10px;
    float: left;
    width: 100%; }
    .my_route_item .route_info p {
      margin: 0; }
    .my_route_item .route_info .border_right {
      border-right: 1px solid #CCC; }
    .my_route_item .route_info .route_title {
      font-size: 16px; }
      .my_route_item .route_info .route_title .location {
        font-size: 14px; }
      .my_route_item .route_info .route_title .route_difficulty {
        display: block; }
    .my_route_item .route_info .hazard_icons .hazard_icon {
      display: block;
      border: #d1d1d1 5px solid;
      border-radius: 50%;
      margin: 10px auto;
      max-width: 55px; }
      .my_route_item .route_info .hazard_icons .hazard_icon span {
        display: block; }
      .my_route_item .route_info .hazard_icons .hazard_icon .background_color {
        border-radius: 50%;
        height: 40px;
        text-align: center; }
        .my_route_item .route_info .hazard_icons .hazard_icon .background_color span {
          line-height: 40px;
          color: #FFF; }
      .my_route_item .route_info .hazard_icons .hazard_icon .water {
        background: #54A4DE; }
      .my_route_item .route_info .hazard_icons .hazard_icon .bridge {
        background: #206BA4; }
      .my_route_item .route_info .hazard_icons .hazard_icon .landslide {
        background: #593E1A; }
      .my_route_item .route_info .hazard_icons .hazard_icon .uneven {
        background: #024816; }
    .my_route_item .route_info .hazard_icons p {
      line-height: 15px; }
    .my_route_item .route_info .route_photos img {
      overflow: hidden;
      height: 85px;
      width: 100%;
      padding: 5px; }
    .my_route_item .route_info .route_photos .add_photo {
      line-height: 20px; }
      .my_route_item .route_info .route_photos .add_photo .fi-camera {
        color: #FFF; }
      .my_route_item .route_info .route_photos .add_photo button:hover .fi-camera {
        color: purple; }
    .my_route_item .route_info .intro_content {
      position: relative; }
      .my_route_item .route_info .intro_content .edit_icon {
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1; }
        .my_route_item .route_info .intro_content .edit_icon .fi-pencil {
          color: #4CAF50; }
      .my_route_item .route_info .intro_content .edit_icon:hover .fi-pencil {
        color: purple; }
  .my_route_item .splitter {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #CCC;
    margin: 10px 0; }

.reveal-modal, .dialog {
  min-height: inherit;
  top: 35% !important; }

.view_routes {
  height: auto; }
  .view_routes a[href^="https://maps.google.com/maps"] {
    display: none !important; }
  .view_routes .gm-style-cc a, .view_routes .gm-style-cc span {
    display: none; }
  .view_routes .gm-style-cc div {
    background: none !important; }
  .view_routes #main-content {
    background: #eaeaea;
    padding: 0;
    height: inherit; }
  .view_routes #mapPlaceholder, .view_routes #mapPlaceholder_2, .view_routes #mapPlaceholder_3, .view_routes #mapPlaceholder_4, .view_routes .route_info, .view_routes span.row, .view_routes span.columns {
    display: block; }
  .view_routes .route_filter {
    float: left;
    width: 100%;
    background: #FFF;
    margin: 0 0 0.9375rem 0;
    padding: 0.9375rem 0 0.9375rem 0; }
    .view_routes .route_filter label {
      width: 20%;
      float: left;
      line-height: 35px; }
    .view_routes .route_filter select {
      width: 80%;
      float: left;
      margin: 0; }
  .view_routes .route_info .route_details, .view_routes .route_info .route_difficulty {
    float: right;
    color: #000; }
  .view_routes .route_info .route_difficulty .difficulty {
    margin: 0 0 0 5px; }
  .view_routes .route_info .route_difficulty .easy {
    color: #4CAF50; }
  .view_routes .route_info .route_difficulty .medium {
    color: #FECE0B; }
  .view_routes .route_info .route_difficulty .hard {
    color: #F05448; }
  .view_routes .route_info .icon-walkie_icon {
    line-height: 40px; }

/*# sourceMappingURL=style.css.map */
