/* ICON FONT SIZES */

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-28 { font-size: 28px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

$link-color: #4CAF50;


@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

body, .off-canvas-wrap, .inner-wrap, #main-content {
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
        font-family: 'Droid Sans', sans-serif;
}

.center {text-align: center;}


button, .button {
    background-color: $link-color;
    width: 100%;
    padding: 5px 10px;
    line-height: 35px;
    margin:0;
    color: #FFF;
}

button:hover, .button:hover {
    background-color: #66BB6A;
    color: purple;
}

a {color: $link-color;}

a:hover {color: purple;}

button.facebook_login {
	background: #3B5998;
    width: 100%;
}

button.facebook_login:hover {
	background: #2f4779;
}

nav.tab-bar {
	background: #4CAF50;
    a {
        color: #FFF;
    }
    a:hover {
        color: purple;
    }
}

.splashscreen {
	background: #4CAF50;
    width: 100%;
    height: 100%;
    float:left;
        .splash_logo {
        width: 100%;
        height:250px;
        background: url('img/logo.png') center center no-repeat;
        display:block;
        -webkit-animation: fadein 2s;
        animation: fadein 2s;
        margin: 50% 0 0 0;
        }
    .splash_title {
        width:100%;
        display: block;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        color: #FFF;
        -webkit-animation: fadein 2s;
        animation: fadein 2s;
        color: #81C784;
        width:100%;
        display: block;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
    }
}

.off-canvas-wrap {
    .left-off-canvas-menu {
        background: #333 !important;
        .off-canvas-list {
            li {
                a{

                }
                a.active {
                    background: #242424;
                }
            }
        }
    }


}

.profile_area {
    padding: 40px 0;
    .profile_picture {
        border: 1px solid #FFF;
    }
    .user_info {
        color: #FFF;
        p {
            margin:0;
        }
        .location {
            font-size: 0.9em;
        }
    }
}



.tab-bar h1 {
    text-align: left;
}

.content_container {
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    display: block;
    float: left;
    width: 100%;
    position: relative;
    z-index: 5;
}

.home_btns {
	border-right: 2px solid #d0d0d0;
    border-left: 2px solid #FFF;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
        p {
            margin:0;
        }
        .value {
            color: #81C784;
        }
}

.home_btns:hover .value{
	color: #66BB6A;
}



.record_footer {
	position: absolute;
    bottom:0;
    width: 100%;
    height: 50px;
    z-index: 5;
    text-align: center;
    background: #4CAF50;
    button#watchButton {
        width: 75px;
        height: 75px;
        background: #FFF;
        top: -25px;
        border: 5px solid #81C784;
        border-radius: 50%;
        .fi-record {
            color: red;
            text-align: center;
            margin: 0 auto;
            display: block;
            left: 0;
            right: 0;
            position: absolute;
            top: 7px;
        }
        .fi-pause {
            color: black;
            text-align: center;
            margin: 0 auto;
            display: block;
            left: 0;
            right: 0;
            position: absolute;
            top: 7px;
        }
    }
}

#map_marker_container {
    position: absolute;
    bottom: 75px;
    width: 100%;
    height: 75px;
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    .map_marker_btn
    {
        display: inline;
        width: 100px;
        height:50px;
    }
}

.my_routes {
    height: auto;
    a[href^="https://maps.google.com/maps"]{display:none !important}

    .gm-style-cc a, .gm-style-cc span {
    display:none;
    }
    .gm-style-cc div {
    background:none !important;
    }

    #main-content {
        background: #eaeaea;
        padding: 0.9375rem 0 0 0;
    }

    #mapPlaceholder, #mapPlaceholder_2, #mapPlaceholder_3, #mapPlaceholder_4, .route_info, span.row, span.columns {
        display: block;
    }

}

.my_route_item {
    margin: 0 0 0.9375rem 0;
    display: block;
    .route_info {
        background: #FFF;
        border-top: 1px solid #CCC;
        padding: 5px 10px;
        float:left;
        width: 100%;
        p {
            margin: 0;
        }
        .border_right {
            border-right: 1px solid #CCC;
        }
        .route_title {
            font-size: 16px;
            .location {
                font-size: 14px;
            }
            .route_difficulty {
                display: block;
            }
        }
        .hazard_icons {
            .hazard_icon {
                display: block;
                border: #d1d1d1 5px solid;
                border-radius: 50%;
                margin:10px auto;
                max-width: 55px;
                span {display:block;}
                .background_color {
                    border-radius: 50%;
                    height: 40px;
                    text-align: center;
                    span {
                        line-height: 40px;
                        color: #FFF;
                    }
                }
                .water {background: #54A4DE;}
                .bridge {background: #206BA4;}
                .landslide {background: #593E1A;}
                .uneven {background: #024816;}
            }
            p {line-height: 15px;}
        }
        .route_photos {
            img {
                overflow: hidden;
                height: 85px;
                width: 100%;
                padding: 5px;
            }
            .add_photo {
                line-height: 20px;
                .fi-camera {
                    color: #FFF;
                }
                button:hover .fi-camera {
                    color: purple;
                }
            }
        }
        .intro_content {
            position: relative;
            .edit_icon {
                display: block;
                position: absolute;
                right:0px;
                top: 0px;
                z-index:1;
                .fi-pencil {
                    color: #4CAF50;
                }
            }
            .edit_icon:hover .fi-pencil {
                color: purple;
            }
        }
    }
    .splitter {
        display: block;
        width: 100%;
        height:1px;
        border-bottom: 1px solid #CCC;
        margin: 10px 0;
    }
}

.reveal-modal, .dialog {
    min-height: inherit;
    top: 35% !important;
}


.view_routes {
    height: auto;
    a[href^="https://maps.google.com/maps"]{display:none !important}

    .gm-style-cc a, .gm-style-cc span {
    display:none;
    }
    .gm-style-cc div {
    background:none !important;
    }

    #main-content {
        background: #eaeaea;
        padding: 0;
        height: inherit;
    }

    #mapPlaceholder, #mapPlaceholder_2, #mapPlaceholder_3, #mapPlaceholder_4, .route_info, span.row, span.columns {
        display: block;
    }

    .route_filter {
        float:left;
        width: 100%;
        background: #FFF;
        margin: 0 0 0.9375rem 0;
        padding: 0.9375rem 0 0.9375rem 0;
        label {
            width: 20%;
            float:left;
            line-height: 35px;
        }
        select {
            width: 80%;
            float:left;
            margin:0;
        }
    }
    .route_info {
        .route_details, .route_difficulty {
            float:right;
            color: #000;
        }
        .route_difficulty {
            .difficulty {margin: 0 0 0 5px;}
            .easy {color: #4CAF50;}
            .medium {color: #FECE0B;}
            .hard {color: #F05448;}
        }
        .icon-walkie_icon {line-height: 40px;}
    }
}